h1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
    font-display: auto;
}
body {
    display:block;
    text-align: center;
    background-image:url("images2.webp");
    background-size: cover;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    text-shadow: black;
    height: 100vh;
    background-attachment: fixed;
}
.nav-boton {
    padding: 10px 0;
    background-color:blueviolet;
    border: 2px solid white;
    display: none;
    color: #fff;
    font-size:x-large;
}
a.barra-principal {
padding: 10px 30px;
display: inline-block;
text-align: center;
font-size: x-large;
color:white;
text-decoration: none;
font-weight: bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
a.barra-principal:hover{
    background-color: blueviolet;
    color:red;
    text-decoration:underline;
    text-transform: uppercase;
}

h3.cuerpo {
    text-align: left;
    color: whitesmoke;
    background-color: black;
    padding-top: 3rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-around;
}
p.parrafo1 {
    color:whitesmoke;
    background-color: black;
    text-align: justify;
    font-weight:900;
    position:center;
}
a.desbloqueo {
    text-decoration: none;
}
a.desbloqueo:hover{
    color: red;
    text-decoration: underline;
}
section {
    background-size: 65rem;
    opacity: 0.7;
    width:max-content;
    position:relative;
    box-align:center;
    padding: 3rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 3rem;
}
img.parrafo1 {
    float: left;
    margin: 1rem;
    margin-left: 0.1rem;
    padding-left: 0.1rem;
    justify-content: left;
}
h2.about {
    text-align: left;
    color: whitesmoke;
    background-color: black;
    opacity: 0.7;
}
h3.center {
    color: whitesmoke;
    text-align: center;
    padding-top: 3rem;
    background-position: center;
}
iframe.mapa {
    padding-bottom: 4rem;
}
p.about{
    color:whitesmoke;
    background-color: black;
    text-align: left;
    font-weight:900;
    padding: 4rem;
    opacity: 0.7;
}
p.pago {
    color:whitesmoke;
    text-align: left;
    font-weight:900;
    padding: 2rem;
    font-size: larger;
    padding-bottom: 1rem;
}
img.pago {
    padding-right: 2rem;
}
a.inicio {
    float: left;
}
span.inicio {
        font-size: larger;
        color: whitesmoke;
        text-align: left;
        padding-top: 0.7rem;
        margin: 0%;
        left: 2.5rem;
        float: left;
    }
footer {
    text-align: end;
    text-align-last: auto;
    position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999
}
@media (max-width: 600px) {
    nav{
        flex-direction: column;
        color: whitesmoke;
    }
    .barra-principal{
        margin: 10px 0px;
    }
    .nav-boton{
        display: inline-block;
    }
    a.desaparece{
        display: none;
    }
}
@media (max-width: 600px) {
    section{
    display: grid;
    background-size: 100vh;
    position:sticky;
    width: min-content;
}
}
@media (max-width: 480px) {
    body{
       height: 100vh;
       background-repeat: no-repeat;
       background-size:cover;
    }
}
